#end {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#end h1 {
  font-size: 2em;
  padding: 20px;
}

#end p {
  padding: 0 20px;
}
